.gallery-container {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #2e2e2e;
    color: #fff;
}

.gallery-item {
    display: inline-block;
    width: 20%;
    margin: 1% 2%;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}

.gallery-item:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.gallery-item img {
    width: 100%;
}

.gallery-item .likes {
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
}
